@import "variables";

/**********************************************
*** GENERAL
**********************************************/

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

body {
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.4),
      rgba(62, 20, 20, 0.4)
    ),
    url(../../static/back.jpg);
  background-position: center;
  background-size: cover;
  color: #555;
  font-family: Lato;
  font-weight: 300;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.wrapper {
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;

  @media (max-width: 1130px) {
    width: 780px;
  }
}

.player-0-panel,
.player-1-panel {
  float: left;
  height: 600px;
  width: 50%;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.player-score {
  color: $mainColor;
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 130px;
  text-align: center;
}

.active {
  background-color: #f7f7f7;
  .player-name {
    font-weight: 300;
    &::after {
      color: $mainColor;
      content: "\2022";
      font-size: 47px;
      position: absolute;
      right: 10px;
      top: -20px;
    }
  }
}

.player-current-box {
  background-color: $mainColor;
  color: #fff;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  width: 40%;
}
.player-current-label {
  color: #222;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.player-current-score {
  font-size: 30px;
}

button {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: background-color 0.3s, color 0.3s;
  width: 200px;

  &:hover {
    font-weight: 600;
  }
  &:hover i {
    transform: translateX(-7px);
  }
  &:focus {
    outline: none;
  }
}

i {
  color: $mainColor;
  display: inline-block;
  font-size: 32px;
  line-height: 1;
  margin-right: 15px;
  margin-top: -4px;
  transition: margin 0.3s;
  vertical-align: text-top;
}

.btn-new {
  top: 55px;
}

.btn-roll {
  top: 444px;
}

.btn-hold {
  top: 490px;
}

.btn-rules {
  top: 540px;
}

label {
  background: none;
  color: $mainColor;
  font-family: Lato;
  font-size: 22px;
  left: 50%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 95px;
  transform: translateX(-50%);
}

.input-score {
  border: 1px solid $mainColor;
  color: #555;
  font-family: Lato;
  font-size: 28px;
  left: 50%;
  margin-top: 4px;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 125px;
  transform: translateX(-50%);
  width: 140px;
  &:hover,
  &:focus {
    font-weight: 600;
    outline-color: transparent;
    transition-delay: 0.08s;
  }
}

.dice1 {
  @include default-dice();
  top: 190px;
}

.dice2 {
  @include default-dice();
  top: 300px;
}

.winner {
  background-color: #f7f7f7;
  .player-name {
    font-weight: 300;
    color: $mainColor;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  bottom: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  position: absolute;
}
